[Unit]
Description=data-processor
After=docker.service
Requires=docker.service
After=consul@%i.service
Wants=consul@%i.service
After=rabbitmq@%i.service
Requires=rabbitmq@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m
TimeoutStopSec=10m

Restart=on-failure

Environment=DOCKER_IMAGE=
Environment=CONTAINER=data-processor
Environment=HOME=/root

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_IMAGE}

ExecStartPre=/bin/bash -c 'echo VIP_DP_AWS_ACCESS_KEY="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/aws/access-key?raw)" > /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_AWS_SECRET_KEY="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/aws/secret-key?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_S3_UNPROCESSED_BUCKET="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/s3/unprocessed-bucket?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_S3_PROCESSED_BUCKET="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/s3/processed-bucket?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_S3_REGION="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/s3/region?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_SQS_REGION="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sqs/region?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_SQS_QUEUE="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sqs/queue?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_SQS_FAIL_QUEUE="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sqs/fail-queue?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo DB_PORT_5432_TCP_ADDR="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/postgres/hostname?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo DB_PORT_5432_TCP_PORT="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/postgres/port?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo DB_ENV_POSTGRES_USER="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/postgres/username?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo DB_ENV_POSTGRES_PASSWORD="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/postgres/password?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo DB_ENV_POSTGRES_DATABASE="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/postgres/database?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_RABBITMQ_EXCHANGE="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/rabbitmq/exchange?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo NEW_RELIC_LICENSE_KEY="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/newrelic/license-key?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo NEW_RELIC_ENVIRONMENT="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/newrelic/environment?raw)" >> /tmp/${CONTAINER}--env'
ExecStartPre=/bin/bash -c 'echo VIP_DP_MAX_ZIPFILE_SIZE="$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/max-zipfile-size?raw)" >> /tmp/${CONTAINER}--env'

ExecStart=/bin/bash -c 'docker run --name ${CONTAINER} \
  --link rabbitmq:rabbitmq \
  --env-file /tmp/${CONTAINER}--env \
  ${DOCKER_IMAGE}'

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
MachineOf=consul@%i.service
