{:aws {:creds {:access-key "AAAA..."
               :secret-key "sb3nfo..."}
       :region "us-east-1"
       :s3 {:processed-bucket "bucket-name"}
       :sqs {:queue "vip-processor-queue"
             :fail-queue "vip-processor-fail-queue"}
       :sns {:success-topic-arn "dev-feed-processed-success"
	     :failure-topic-arn "dev-feed-processed-failure"}
 :postgres {:host "localhost"
            :port 5432
            :user "postgres"
            :password "sssssecret"}}
