{:aws {:creds {:access-key "AAAA..."
               :secret-key "sb3nfo..."}
       :s3 {:bucket "bucket-name"}
       :sqs {:region #aws/region "US_WEST_2"
             :queue "vip-processor-queue"
             :fail-queue "vip-processor-fail-queue"}}
 :rabbit-mq {:connection {:host "localhost"
                          :port 5672}
             :exchange "qa-engine"}}
