{:aws {:creds {:access-key #resource-config/env "VIP_DP_AWS_ACCESS_KEY"
               :secret-key #resource-config/env "VIP_DP_AWS_SECRET_KEY"}
       :region #resource-config/env "VIP_DP_AWS_REGION"
       :s3 {:processed-bucket #resource-config/env "VIP_DP_S3_PROCESSED_BUCKET"}
       :sqs {:queue #resource-config/env "VIP_DP_SQS_QUEUE"
             :fail-queue #resource-config/env "VIP_DP_SQS_FAIL_QUEUE"
             :visibility-timeout 43200}
       :sns {:success-topic-arn #resource-config/env "VIP_DP_SNS_SUCCESS_TOPIC"
             :failure-topic-arn #resource-config/env "VIP_DP_SNS_FAILURE_TOPIC"}}
 :postgres {:host #resource-config/env "DB_PORT_5432_TCP_ADDR"
            :port #resource-config/env "DB_PORT_5432_TCP_PORT"
            :user #resource-config/env "DB_ENV_POSTGRES_USER"
            :password #resource-config/env "DB_ENV_POSTGRES_PASSWORD"
            :database #resource-config/env "DB_ENV_POSTGRES_DATABASE"}
  :max-zipfile-size #resource-config/edn #resource-config/env "VIP_DP_MAX_ZIPFILE_SIZE"}
