{:aws {:creds {:access-key #resource-config/env "VIP_DP_AWS_ACCESS_KEY"
               :secret-key #resource-config/env "VIP_DP_AWS_SECRET_KEY"}
       :s3 {:bucket #resource-config/env "VIP_DP_S3_BUCKET"}
       :sqs {:region #aws/region #resource-config/env "VIP_DP_SQS_REGION"
             :queue #resource-config/env "VIP_DP_SQS_QUEUE"
             :fail-queue #resource-config/env "VIP_DP_SQS_FAIL_QUEUE"}}
 :rabbit-mq {:connection-params {:host #resource-config/env "QUEUE_PORT_5672_TCP_ADDR"
                                 :port #resource-config/env "QUEUE_PORT_5672_TCP_PORT"}}}
